:root{
    --teal:teal;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}

*::selection{
    background:var(--teal);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    /* height:200rem; */
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--teal);
}

section{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}

.btn{
    font-size: 1.7rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:#333;
    cursor: pointer;
    border:.2rem solid var(--teal);
}

.btn:hover{
    background:var(--teal);
    color: #fff;
}

.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:#333;
}

.heading span{
    color:var(--teal);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#fff;
    padding:1.5rem 5%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    height:7rem;
}
.logo, .logoname{
    color: teal;
    font-family: 'Cinzel', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;
font-size: 25px;
justify-content: center;
align-items: center;
}
.logoname{
    position: absolute;
    margin-left: 8%;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* background-color: blue; */
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:var(--teal);
}

header .navbar ul li a:hover{
    color:white;
    background: var(--teal);
    padding: 10px 10px;
    border-radius: 20px;
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

.navsocial i{
    margin-top: 15px;
    font-size: 20px;
    padding: 0 30px;
    float: right;
    transition: 0.5s;
}
.navsocial i:hover{
    font-size: 25px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.home::before,
.home::after{
    content:'';
    position: absolute;
    top:5rem; right:-6rem;
    background:var(--teal);
    border-radius: 3rem;
    transform:rotate(-45deg);
    height:40rem;
    width:70rem;
    z-index: -2;
    animation: animte 1s linear 1;
}

@keyframes animte{
    0%{
        transform:rotate(45deg) translateY(-40rem);
    }
}

.home::before{
    top:-7rem;
    background:#fff;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.1);
    z-index: -1;
}

.home .image{
    flex:1 1 39rem;
}

.home .image img{
    width:100%;
    border-radius: 20px;
}

.home .content{
    flex:1 1 39rem;
}

.home .content h3{
    color:#333;
    font-size: 6rem;
}

.home .content p{
    color:#666;
    font-size: 2rem;
    padding:1rem 0;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.working-timings{
    font-size: 25px !important;
}

.about .image img{
    width: 100%;
    float: left;
    height: 450px;
    border-radius: 20px;
}

.about .content{
    flex:1 1 40rem;
    padding:2rem;
}

.about .content h3{
    font-size: 4rem;
    color:#333;
}

.about .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .home::before,
    .home::after{
        display: none;
    }

}

@media (max-width:768px){

    .logoname{
        margin-left: 15%;
    }
    header #menu-bar{
        display: block;
        color: black;
    }

    header .navbar{
        position: fixed;
        top:10rem; left:0;
        width:100%;
        height: 110vh;
        background:var(--teal);
        border-top: .2rem solid rgba(0,0,0,.1);
        transform:scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        margin:1.5rem;
        width: 100%;
    }

    header .navbar ul li a{
        display: block;
        color:#fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }

    header .navbar ul li a:hover
    {
        color:#333;
        border-color: #333;
    }

    .fa-times{
        transform:rotate(180deg);
    }

    header .navbar.nav-toggle{
        transform:scaleY(1);
        opacity: 1;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .order .row .image{
        display: none;
    }
    .navsocial{
        width:15%;
    }
    .navsocial i{
        padding: 15px;
        background-color:white;
        border-radius: 100%;
    }
}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:1rem 5%;
        padding-top: 8.5rem;
    }
}

/* .gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}


.gallery .box-container .box:hover{
    transform: scale(1.3);
    z-index: 2;
} */

/* .order{
    background:url(./images/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

} */

/* .order .row{
    display: flex;
    background:#fff;
    margin:2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 1rem;
}

.order .row .image{
    flex:1 1 40%;
}

.order .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.order .row form{
    flex:1 1 60%;
    background:#fff;
    padding:2rem;
}

.order .row form .box{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    background:#f0f0f0;
    width:100%;
}

.order .row form .box::placeholder{
    text-transform: capitalize;
}

.order .row form .address{
    resize: none;
    height:15rem;
} */
.container1{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-100px;
    padding: 10px 8%; 
 }
.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
}
 .images img{
    width:100%;
    height:28vh;
}  
@media(max-width:768px){
    .images{
        grid-template-columns: repeat(2,1fr);
    }
    .container1{
        margin-top: 30px;
    }
}
@media(max-width:490px){
    .images{
        grid-template-columns: repeat(1,1fr);
    }
    .container1{
        margin-top: 0px;
    }
}

/* //Gallery */
/* Book Section */
.book .row{
    display: flex;
    background:#fff;
    margin:2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 1rem;
    /* overflow-y: hidden; */
}

.book .row .image{
    flex:1 1 40%;
    /* overflow: hidden; */
}
/* .book .row .image figure{
    position: relative;
    width: 200%;
    margin: 0;
    left: 0;
    /* animation: 20s slider infinite; */
 
/* @keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    125%{
        left: -400%;
    }
} */
.book .row .image img{
    height:100%;
    width:100%;
     object-fit: cover;
    /* float: left; */ 
}

.book .row form{
    flex:1 1 60%;
    background:#fff;
    padding:2rem;
}

.book .row form .box{
    padding:1rem; 
    margin:1rem 0;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    background:#f0f0f0;
    width:100%;
}
/* 
.book .row form .box::placeholder{
    text-transform: capitalize;
} */

.book .row form .address{
    resize: none;
    height:15rem;
}
label{
    font-size: large;
}
.required::after{
    content:"*";
    color: red;
    font-size: 20px;
}
@media(max-width:900px){
    .book .image{
        display: none;
    }
}
.footer{
    /* background:#282727;
    padding:1rem 7%; */
    background:#282727;
    padding:1rem 7%;
    margin-left: -160px;
    width: 130%;
    margin-bottom: -10px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 10rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:rgb(2, 173, 173);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:rgb(2, 173, 173);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding:2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
}

.footer .credit a{
    color:rgb(2, 173, 173);
}
@media(max-width:768px){
    .footer{
        margin-left: -72px;
    }
}
@media(max-width:500px){
    .footer{
        margin-left: -50px;
        width: 120%;
    }
}
@media(max-width:390px){
.footer{
    margin-left: -30px;
}
}

.menu .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem 0;
    margin: 2rem 0;
    border-top: .3rem dashed rgba(0, 0, 0, .2);
    border-bottom: .3rem dashed rgba(0, 0, 0, .2);
}

.menu .list .btn {
    margin: 1rem;
}

.menu .list .btn.active,
.menu .list .btn:hover {
    background: var(--teal);
    color: #fff;
}

.menu .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .row .image {
    margin: 2rem;
    padding: 2rem;
    flex: 1 1 40rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.menu .row .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.menu .row .content {
    flex: 1 1 40rem;
}

.menu .row .content .info {
    padding: 1rem 0;
}

.menu .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color: #333;
}

.menu .row .content .info h3 span {
    padding-right: 1rem;
    color: var(--teal);
}

.menu .row .content .info p {
    padding: 1rem 0;
    padding-left: 4.5rem;
    font-size: 1.5rem;
    color: #666;
}

.popular {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(../images/popular-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.popular .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popular .box-container .box {
    background: #fff;
    width: 35rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
}

.popular .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.popular .box-container .box h3 {
    color: #333;
    font-size: 3rem;
    font-weight: normal;
}

.popular .box-container .box .stars i {
    color: var(--teal);
    font-size: 2rem;
    padding: 1rem .1rem;
}

.popular .box-container .box .price {
    color: #666;
    font-size: 2.5rem;
}

.popular .box-container .box:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}









